* {
    margin: 0%;
    padding: 0%;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lockscreen {
    background-color: black;
    height: 500px;
    width: 400px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.time {
    font-family: "Orbitron";
    color: white;
}