* {
    margin: 0%;
    padding: 0%;
     user-select: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.lockscreen {
    background: rgba(20, 0, 0, 0.8);
    box-shadow: 0 0 25px red;
    color: #ff3b3b;
    height: 500px;
    width: 400px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

.time {
    font-family: "Orbitron";
    color: #ff3b3b;
}

.day {
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.topbar {
    width: 100%;
    height: 30px;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
    margin-bottom: 20px;
}

.faceUnlock {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: dotted;
    padding: 5px;
    margin-bottom: 10px;
}

.musicPlayer {
    width: 80%;
  margin-top: 20px;
  padding: 15px;
  border-radius: 12px;
  background: rgba(255, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgba(255, 0, 0, 0.3);
}

.songInfo {
  text-align: center;
}

.songName {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.artistName {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  opacity: 0.8;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 22px;
}

.btn {
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  transform: scale(1.2);
  text-shadow: 0 0 10px red;
}
