* {
    margin: 0%;
    padding: 0%;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.lockscreen {
    background: rgba(20, 0, 0, 0.8);
    box-shadow: 0 0 25px red;
    color: #ff3b3b;
    height: 500px;
    width: 400px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

.time {
    font-family: "Orbitron";
    color: #ff3b3b;
}

.day {
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.topbar {
    width: 100%;
    height: 30px;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
    margin-bottom: 20px;
}

.faceUnlock {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: dotted;
    padding: 5px;
    margin-bottom: 10px;
}