* {
    margin: 0%;
    padding: 0%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.idcard {
    width: 35%;
    height: 350px;
    background-color: blue;
    border-radius: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.coderLogo {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%; 
}

.coderLogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
    object-position: 40% center;
}

.coderName {
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.coderTitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.github {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.githubLogo {
    height: 24px;
    width: 24px;
    margin: 2px;
}

.username {
    margin: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}


.stats {
    width: 80%;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.stat-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px 20px 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
}