* {
  margin: 0%;
  padding: 0%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  user-select: none;
}

.idcard {
  width: 35%;
  height: 400px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  background: linear-gradient(185deg, #8cb2f77b, #125de0d6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
}

.coderLogo {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
}

.coderLogo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: 40% center;
}

.coderName {
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.coderTitle {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.github {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.githubLogo {
  height: 20px;
  width: 20px;
  margin: 2px;
}

.username {
  margin: 2px;
    font-family: "Source Code Pro";
    color: rgb(66, 66, 66);
  font-size: 13px;
}

.stats {
    margin-top: 10px;
  width: 80%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Nunito";
}

.stat-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 10px 20px 10px 20px;
  /* border: 1px solid black; */
  border-radius: 10px;
  background: linear-gradient(185deg, #8cb2f71b, #125de028);
}

.stat-box:hover {
    background: linear-gradient(185deg, #8cb2f748, #125de051);
}

.stacks {
  display: flex;
  flex-direction: row;
  font-family: "Nunito";
}

.stack {
  /* border: 1px solid black; */
  background: linear-gradient(185deg, #8cb2f748, #125de051);
  /* border-radius: 50%; */
  border-radius: 10px;
  margin: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack:hover {
    background: linear-gradient(185deg, #8cb2f76a, #125de079);
}


.stackLogo {
    height: 25px;
    width: 25px;
    margin-bottom: 5px;
}